#nav-user-icon {
    height: 45px;
    width: 45px;
    background: white;

  }

  #icon-container {
    margin-bottom: 30px;
    padding: 10px;
}

#nav-user-icon {
    height: 45px;
    width: 45px;
}

 #google{
    border: none;
    background-color: #dd4b39;
    color: #fff;
    text-transform: none;
    text-align: left;
}

#facebook {
    border: none;
    background-color: #3c5a99;
    color: #fff;
    text-transform: none;
    text-align: left;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

/**Colors*/

/*.green {
    background-color: #8FC547;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
